<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="TestAutomation Suite" verbose="1">
    <test name="RegisterUserPageTest">
        <classes>
            <class name="Homework5AutoTest.RegisterUserPageTest"/>
        </classes>
    </test>
    <test name="ContactUsForm">
        <classes>
            <class name="Homework5AutoTest.ContactUsFormPageTest"/>
        </classes>
    </test>