<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Test Automation Suite" verbose="1" parallel="tests" thread-count="2">
    <test name="RegisterUserPageTest">
        <classes>
            <class name="Homework5AutoTest.RegisterUserPageTest"/>
        </classes>
    </test>
    <test name="ContactUsFormPageTest">
        <classes>
            <class name="Homework5AutoTest.ContactUsFormPageTest"/>
        </classes>
    </test>
</suite>